<h1>Mustache Examples</h1>
<p>These are Justin Hileman's original mustache examples.</p>
<ul class="shortlist">
    <li><a href="{{base_url}}mustache/examples/child_context">Child Context</a></li>
    <li><a href="{{base_url}}mustache/examples/comments">Comments</a></li>
    <li><a href="{{base_url}}mustache/examples/complex">Complex</a></li>
    <li><a href="{{base_url}}mustache/examples/delimiters">Delimiters</a></li>
    <li><a href="{{base_url}}mustache/examples/dot_notation">Dot Notation</a></li>
    <li><a href="{{base_url}}mustache/examples/double_section">Double Section</a></li>
    <li><a href="{{base_url}}mustache/examples/escaped">Escaped</a></li>
    <li><a href="{{base_url}}mustache/examples/grand_parent_context">Grand Parent Context</a></li>
    <li><a href="{{base_url}}mustache/examples/implicit_iterator">Implicit Iterator</a></li>
    <li><a href="{{base_url}}mustache/examples/inverted_double_section">Inverted Double Section</a></li>
    <li><a href="{{base_url}}mustache/examples/inverted_section">Inverted Section</a></li>
    <li><a href="{{base_url}}mustache/examples/partials">Partials</a></li>
    <li><a href="{{base_url}}mustache/examples/partials_with_view_class">Partials With View Class</a></li>
    <li><a href="{{base_url}}mustache/examples/pragma_unescaped">Pragma Unescaped</a></li>
    <li><a href="{{base_url}}mustache/examples/pragmas_in_partials">Pragmas In Partials</a></li>
    <li><a href="{{base_url}}mustache/examples/recursive_partials">Recursive Partials</a></li>
    <li><a href="{{base_url}}mustache/examples/section_iterator_objects">Section Iterator Objects</a></li>
    <li><a href="{{base_url}}mustache/examples/section_magic_objects">Section Magic Objects</a></li>
    <li><a href="{{base_url}}mustache/examples/section_objects">Section Objects</a></li>
    <li><a href="{{base_url}}mustache/examples/sections">Sections</a></li>
    <li><a href="{{base_url}}mustache/examples/sections_nested">Sections Nested</a></li>
    <li><a href="{{base_url}}mustache/examples/simple">Simple</a></li>
    <li><a href="{{base_url}}mustache/examples/unescaped">Unescaped</a></li>
    <li><a href="{{base_url}}mustache/examples/utf8">UTF8</a></li>
    <li><a href="{{base_url}}mustache/examples/utf8_unescaped">UTF8 Unescaped</a></li>
    <li><a href="{{base_url}}mustache/examples/whitespace">Whitespace</a></li>
</ul>