<h1>Mustache Examples</h1>
<p>These are Justin Hileman's original mustache examples.</p>
<ul>
    <li><a href="{{base_url}}mustache_examples/child_context">Child Context</a></li>
    <li><a href="{{base_url}}mustache_examples/comments">Comments</a></li>
    <li><a href="{{base_url}}mustache_examples/complex">Complex</a></li>
    <li><a href="{{base_url}}mustache_examples/delimiters">Delimiters</a></li>
    <li><a href="{{base_url}}mustache_examples/dot_notation">Dot Notation</a></li>
    <li><a href="{{base_url}}mustache_examples/double_section">Double Section</a></li>
    <li><a href="{{base_url}}mustache_examples/escaped">Escaped</a></li>
    <li><a href="{{base_url}}mustache_examples/grand_parent_context">Grand Parent Context</a></li>
    <li><a href="{{base_url}}mustache_examples/implicit_iterator">Implicit Iterator</a></li>
    <li><a href="{{base_url}}mustache_examples/inverted_double_section">Inverted Double Section</a></li>
    <li><a href="{{base_url}}mustache_examples/inverted_section">Inverted Section</a></li>
    <li><a href="{{base_url}}mustache_examples/partials">Partials</a></li>
    <li><a href="{{base_url}}mustache_examples/partials_with_view_class">Partials With View Class</a></li>
    <li><a href="{{base_url}}mustache_examples/pragma_unescaped">Pragma Unescaped</a></li>
    <li><a href="{{base_url}}mustache_examples/pragmas_in_partials">Pragmas In Partials</a></li>
    <li><a href="{{base_url}}mustache_examples/recursive_partials">Recursive Partials</a></li>
    <li><a href="{{base_url}}mustache_examples/section_iterator_objects">Section Iterator Objects</a></li>
    <li><a href="{{base_url}}mustache_examples/section_magic_objects">Section Magic Objects</a></li>
    <li><a href="{{base_url}}mustache_examples/section_objects">Section Objects</a></li>
    <li><a href="{{base_url}}mustache_examples/sections">Sections</a></li>
    <li><a href="{{base_url}}mustache_examples/sections_nested">Sections Nested</a></li>
    <li><a href="{{base_url}}mustache_examples/simple">Simple</a></li>
    <li><a href="{{base_url}}mustache_examples/unescaped">Unescaped</a></li>
    <li><a href="{{base_url}}mustache_examples/utf8">UTF8</a></li>
    <li><a href="{{base_url}}mustache_examples/utf8_unescaped">UTF8 Unescaped</a></li>
    <li><a href="{{base_url}}mustache_examples/whitespace">Whitespace</a></li>
</ul>