<div class="example">
    <h1>{{example_title}}</h1>
    <h2>Mustache Template</h2>
    <pre>{{template}}</pre>
    <h2>View Class</h2>
    <pre><code>{{php_class}}</code></pre>
    <h2>Output</h2>
    <pre>{{output}}</pre>
</div>