<p><a href="http://mustache.github.com/">Mustache</a> is another HTML template engine similar to <a href="http://www.twig-project.org/">Twig</a> and <a href="http://www.smarty.net/">Smarty</a>.</p>
<p>The benefits of Mustache are that it is very simple compared to other template engines and it's platform agnostic.  A Mustache template that works under PHP should also work under other Mustache implementations such as .NET or Python.</p>
<p>bobthecow A.K.A <a href="http://justinhileman.com">Justin Hileman</a> wrote the <a href="https://github.com/bobthecow/mustache.php">PHP Mustache implementation</a>.</p>
<p>Handlebar is a simple class that extends Justin's Mustache class so it can be used in applications built using the <a href="http://kohanaframework.org/">Kohana</a> V3 framework.</p>