/* fonts */

body, input, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 100%; font-weight: normal; }
pre, code { font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 100%; font-weight: normal; }

h1, h2, h3, h4, h5 { font-weight: bold; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.17em; }
h3 { font-size: 1em; }
h4 { font-size: 0.83em; }
h5 { font-size: 0.75em; }

#container { text-align: left; }

#title { font-size: 1em; }

/* layout */

#header { padding: 1em 16px; }
#headerinner { width: 100%; overflow: auto; }
#title { display: block; float: left; text-indent: -5000px; width: 191px; height: 62px; margin: 0; padding: 0; }
#title2 { display: block; float: left;  margin: 0; line-height: 49px; margin: 0; padding: 0 0 0 1em; overflow: auto;  }

#nav { max-width: 100%; min-width: 128px; margin: 0 auto; overflow: auto; }
#navinner { list-style-type: none; overflow: auto; margin: 0 16px 0 16px; }
#navinner li { display: inline-block; float: left; margin: 0 1px 0 0; }
#navinner li a { display: block; float: left; padding: 0.25em 0.5em 0 0.5em; text-decoration: none; border-bottom: 1px solid; }
#navinner li.selected { padding: 0.25em 0.5em 0 0.5em; border-bottom: 1px solid; }

#contentcontainer { overflow: auto; }
#content { padding: 1em 16px; }

h1 { margin: 0 0 0.75em 0; }
h2, h3, h4, h5, h6 { margin: 1.5em 0 0.75em 0; }
p { margin: 0 0 1em 0; overflow: auto; }
ol { margin: 0 0 1em 20px; list-style: decimal; }
ul { margin: 0 0 1em 20px; list-style: disc; }
li { margin: 0.25em 0; }
pre { margin: 0 0 1em 0; padding: 1em; }

.note {
    overflow: auto;
    padding: 1.5em 1.5em 1.5em 5em;
}

/* contact page */
fieldset { padding: 0.5em 0; overflow: auto; }
fieldset label { display: block; }
.itb { width: 25em; height: 1.2em; border: 1px solid; padding: 0.25em; }
.ita { width: 25em; height: 10em; border: 1px solid; padding: 0.25em; }
span.error { display: block; }


/* IE 6 Fix */
* html #navinner { height: 1%; }


/* Colours */
body { color: #4c4c4c; background-color: #f1f8db; }

#container { background-color: #77c244; }

#header { background: url(/guide/media/img/header.png) repeat-x transparent; }
#title { background: url(/guide/media/img/kohana.png) no-repeat 0 50% transparent; }
#title2 { color: #fff; }

#contentcontainer { background-color: #f1f8db; }

#content { background: url(../img/content.gif) repeat-x transparent; }
#content a { color: #3b7439; }
#content a:hover { color: #4c4c4c; }

#navinner li.selected  { color: #4c4c4c; background-color: #fff; border-bottom-color: #fff; }
#navinner li a { color: #fff; background-color: #3b7439; border-bottom-color: #77c244;  }
#navinner li a:hover { color: #4c4c4c; background-color: #fff; border-bottom-color: #fff; }

.error { color:#cc0000; }
pre { color: #000; background-color: #fff; }
code { color: #6baa3d; }
.itb, .ita { border-color: #ccc; }

.note { background: url("/guide/media/img/lightbulb_48.png") no-repeat scroll 1em center #e8efcf; }

/* CSS 3 */
#title2 {
    text-shadow: 1px 1px 1px rgba(0,0,0, .8);
}

pre { border-radius: 10px; }
.note { border-radius: 0.6em 0.6em 0.6em 0.6em; }