<h1>Handlebar User Guide</h1>
<p>N.B. This documentation can also be viewed through the standard Kohana user guide (if the Handlebar module is enabled).</p>
<ul>
    <li><a href="{{base_url}}handlebar_userguide/about">About</a></li>
    <li><a href="{{base_url}}handlebar_userguide/installation">Installation</a></li>
    <li>Tutorials
        <ul>
            <li><a href="{{base_url}}handlebar_userguide/hello">Hello World</a></li>
            <li><a href="{{base_url}}handlebar_userguide/template">Template</a></li>
        </ul>
    </li>
</ul>
