<h2 class="contenthead">Examples</h2>
<p>These are Justin Hileman's original mustache examples amended slightly to work with the Handlebar class.</p>
<ul>
    <li><a href="/examples/child_context">Child Context</a></li>
    <li><a href="/examples/comments">Comments</a></li>
    <li><a href="/examples/complex">Complex</a></li>
    <li><a href="/examples/delimiters">Delimiters</a> - Not correct.  This is a known issue with Justin Hileman's php mustache implementation.</li>
    <li><a href="/examples/dot_notation">Dot Notation</a></li>
    <li><a href="/examples/double_section">Double Section</a></li>
    <li><a href="/examples/escaped">Escaped</a></li>
    <li><a href="/examples/grand_parent_context">Grand Parent Context</a></li>
    <li><a href="/examples/implicit_iterator">Implicit Iterator</a></li>
    <li><a href="/examples/inverted_double_section">Inverted Double Section</a></li>
    <li><a href="/examples/inverted_section">Inverted Section</a></li>
    <li><a href="/examples/partials">Partials</a></li>
    <li><a href="/examples/partials_with_view_class">Partials With View Class</a></li>
    <li><a href="/examples/pragma_unescaped">Pragma Unescaped</a></li>
    <li><a href="/examples/pragmas_in_partials">Pragmas In Partials</a></li>
    <li><a href="/examples/recursive_partials">Recursive Partials</a></li>
    <li><a href="/examples/section_iterator_objects">Section Iterator Objects</a></li>
    <li><a href="/examples/section_magic_objects">Section Magic Objects</a></li>
    <li><a href="/examples/section_objects">Section Objects</a></li>
    <li><a href="/examples/sections">Sections</a></li>
    <li><a href="/examples/sections_nested">Sections Nested</a></li>
    <li><a href="/examples/sections_spaces">Sections Spaces</a> - Spacing is not correct.  This is a known issue.</li>
    <li><a href="/examples/simple">Simple</a></li>
    <li><a href="/examples/unescaped">Unescaped</a></li>
    <li><a href="/examples/utf8">UTF8</a></li>
    <li><a href="/examples/utf8_unescaped">UTF8 Unescaped</a></li>
    <li><a href="/examples/whitespace">Whitespace</a></li>
</ul>