<div class="example">
    <h2 class="contenthead">{{example_title}}</h2>
    <h3>Mustache Template</h3>
    <pre class="code">{{{template}}}</pre>
    <h3>View Class (relevant sections only)</h3>
    {{{php_class}}}
    <h3>Output</h3>
    <pre class="code">{{output}}</pre>
</div>