<h2 class="contenthead">Handlebar Tutorials</h2>
<ul>
    <li><a href="{{base_url}}tutorials/setup">Enabling the Handlebar Module</a></li>
    <li><a href="{{base_url}}tutorials/hello_world">Hello World</a></li>
</ul>