<div id="tutorial">
    <h2 class="contenthead">Handlebar Setup Tutorial</h2>
    <p>Download the <a href="https://github.com/malkintower/handlebar">Handlebar</a> source from github</p>
    <p>Download the <a href="https://github.com/bobthecow/mustache.php">Mustache</a> source from github</p>
    <p>Extract the source files to separate directories</p>
    <p>Copy the <strong>Mustache.php</strong> file into the <strong>handlebar/classes/</strong> folder</p>
    <p>Copy the handlebar module into your Kohana V3 <strong>modules</strong> directory so it looks something like this:</p>
    <pre>application/
modules/
    auth/
    cache/
    codebench/
    database/
    <b>handlebar/
	classes/
	    controller/
		handlebar.php
	    Mustache.php
	    handlebar.php</b>
    image/
    oauth/
    pagination/
    unittest/
    userguide/
system/</pre>
    <p>Enable the handlebar module in <strong>/application/bootstrap.php</strong></p>
    {{{bootstrap}}}
    <p>That's it!</p>
</div>